

<h4>
  <div class="stack-status {{vm.stack.running ? 'running' : 'pending' }}"></div>
  {{vm.stack.name}}
  <div
    class="{{ 'glyphicon glyphicon-repeat' + (vm.deploying ? ' spinner': '') }}"
    ng-click="vm.deploy()"></div>
</h4>
<div class="row">
  <div ng-repeat="service in vm.stack.services">
    <div class="clearfix" ng-if="$index % 4 === 0"></div>
    <div class="col-sm-3">
      <swarm-service
        service="service"
        environment="vm.environment" />
    </div>
  </div>
</div>