<h2>{{project.name + ' Project'}}<div ng-show="globals.loading" class="loading float"></div></h2>
<p ng-show="project.summary">{{project.summary | newlines | anchors | trust}}</p>

<h3>Environments</h3>
<ul class="list-group">
  <li ng-repeat="environment in environments" class="list-group-item animate-show" ng-show="environment.show">     
    <div class="row">
      <div class="col-md-10">
        <h4>          
          {{environment.name}}
          <span ng-click="configure(environment)" class="configure glyphicon glyphicon-cog" />
        </h4>

        <div class="row" ng-show="environment.deployment.date">
          <div class="col-md-1"><strong>Date:</strong></div>
          <div class="col-md-11">{{environment.deployment.date | date:'MMMM d'}}</div>        
        </div>        

        <div class="row" ng-repeat="option in environment.deployment.options">
          <div class="col-md-1"><strong>{{option.key}}:</strong></div>
          <div class="col-md-11">{{option.value}}</div>
        </div>        

        <div class="row" ng-show="environment.description">
          <div class="col-md-1"><strong>Info:</strong></div>
          <div class="col-md-11" ng-bind-html="environment.description | newlines | anchors | trust"></div>
        </div>
        
      </div>
      <div class="col-md-2 environment-status" ng-show="environment.deployment.status === 'deployed'">
        <h4><span>{{environment.runstate | uppercase}}</span></h4>
        <button 
          type="button" 
          class="btn glyphicon glyphicon-play" 
          ng-click="start(environment)" 
          ng-disabled="!environment.showStart" 
          ng-class="{'btn-primary': environment.showStart}"          
          title="Start the environment"></button>
        <button 
          type="button" 
          class="btn glyphicon glyphicon-pause" 
          ng-click="pause(environment)" 
          ng-disabled="!environment.showPause" 
          ng-class="{'btn-primary': environment.showPause}"          
          title="Stop the environment"></button>
        <button 
          type="button" 
          class="btn btn-warning glyphicon glyphicon-refresh" 
          ng-click="redeploy(environment)"          
          title="Refresh the environment"
          ng-show="config.enableDeployment"></button>          
      </div>          
      <div class="col-md-2 environment-status" ng-show="environment.deployment.status !== 'deployed'">        
        <h4>{{environment.deployment.status | uppercase }}</h4>
        <button
          type="button"
          class="btn btn-success glyphicon glyphicon-off"
          ng-click="initialize(environment)"
          ng-show="environment.deployment.status === 'initialize'"></button>

        <!-- Show deployment job details when deploying -->
        <a href="#/jobs/{{environment.deployment.deploymentJob}}" ng-show="environment.deployment.status === 'deploying'">Info</a>
      </div>      
    </div>
  </li>
</ul>


