
<div class="row">
  <div class="col-md-3">      
    <ul class="nav nav-pills nav-stacked">
      <li 
        role="presentation"           
        ng-repeat="(index, taskdef) in vm.taskdefs"
        ng-class="{ active: index === vm.selectedIndex }"
        ng-click="vm.editTaskdef(taskdef, index)"
        >          
        <a href="#">
          <span class="nowrap has-glyph">{{ taskdef.options.name || taskdef.task }}
          <span class="corner-glyph no-color">
            <span class="glyphicon glyphicon-remove text-xs" ng-click="vm.removeTaskdef(taskdef, index)"></span>           
          </span>
          </span>          
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 taskdef-editor-container"></div>
</div>