
<div class="row">
  <div class="col-md-3">      
    <ul class="nav nav-pills nav-stacked">
      <li 
        role="presentation"           
        ng-repeat="(index, taskdef) in vm.taskdefs"
        ng-class="{ active: index === vm.selectedIndex }"
        ng-click="vm.editTaskdef(taskdef, index)"
        >          
        <a href="#">
          <span class="task-name">{{ taskdef.options.name || taskdef.task }}</span>
          <span class="pull-right glyphicon glyphicon-remove" ng-click="vm.removeTaskdef(taskdef, index)"></span> 
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 taskdef-editor-container"></div>
</div>