module.exports = {
  port: 8080,
  host: null,
  cookieSecret: 'I<3Secur1ty', //if using ringtail auth, should match login server value
  skytap: {
    username: 'SKYTAP_USERNAME',
    token: 'SKYTAP_TOKEN',
    proxy: 'OPTIONAL_PROXY_SETTING'
  },
  client: {
    defaultRoute: '/projects',
    enableDeployment: true,
    intialize: {
      "status": "deployed"      
    },
    ldap: {
        enabled: false,
        config : {
            url: 'LDAP_SERVER',
            baseDN: 'BASE_DN',
            username: 'USER@DOMAIN',
            password: 'PASSWORD' 
        },
        groups: ['GROUP1', 'GROUP2']
    },
    ringtail: {
        enabled: false, //when enabled, overrides any other type of auth
        url: 'http://login.ringtail.io?return=',
        cookieName: 'ringtail-user-details' //should match cookie name of login server
    },
    certificate: {
        //certificates go in the certs folder
        key: 'privatekey.key',
        cert: 'certificate.crt'
    }
  }
}