
<div class="swarm-info">
  <div class="swarm-info-header">
    <img class="docker-logo" src="/assets/img/docker-logo.png" alt="Docker Swarm" title="Docker Swarm" />
    <div class="pull-right">
      <button
        type="button"
        class="btn btn-warning glyphicon glyphicon-equalizer"
        ng-click="vm.deploySwarm()"
        title="Deploy services"></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" ng-repeat="node in vm.nodes">
      <swarm-node-details node="node" environment="vm.environment"></swarm-node-details>
    </div>
  </div>
</div>