
<div class="swarm-info">
  <div class="swarm-info-header">
    <img class="docker-logo" src="/assets/img/docker-logo.png" alt="Docker Swarm" title="Docker Swarm" />
    <div class="pull-right">
      <button
        type="button"
        class="btn btn-warning glyphicon glyphicon-equalizer"
        ng-click="vm.deploySwarm()"
        title="Deploy services"></button>
    </div>
    <div class="pull-right swarm-deploying" ng-show='vm.deploying'>
      Deploying...
      <br/>
      <img src='/assets/img/bar-loader.gif' alt='Deploying...' />
    </div>
  </div>
  <h4>Nodes</h4>
  <div class="row">
    <div class="col-sm-3" ng-repeat="node in vm.nodes">
      <swarm-node-details
        node="node"
        environment="vm.environment" />
    </div>
  </div>
  <h4>Services</h4>
  <div class="row">
    <div class="col-sm-3" ng-repeat="service in vm.deployments.services">
      <swarm-service service="service" />
    </div>
  </div>
</div>