
<div class="swarm-node-details">
  <div class="node-id">
    <label>Id:</label>
    {{ vm.node.ID }}
  </div>
  <div class="node-hostname">
    <label>Host:</label>
    {{ vm.node.Description.Hostname }}</div>
  <div class="node-state">
    <label>State:</label>
    {{ vm.node.Status.State }}
  </div>
  <div class="node-address">
    <label>IP:</label>
    {{ vm.node.Status.Addr }}
  </div>
  <div><label>Roles:</label></div>
  <div>
    <select
      class="form-control"
      ng-show="vm.roleOptions.length"
      ng-model="vm.selectedRole"
      ng-change="vm.roleSelected()"
      >
      <option value="">Add role...</option>
      <option ng-repeat="option in vm.roleOptions" ng-value="option.name">{{option.name}}</option>
    </select>
  </div>
  <div class="node-role" ng-repeat="(key, value) in vm.node.Spec.Labels">
    <span>{{key}}</span>
    &nbsp;-&nbsp;
    <span ng-click="vm.removeRole(key)">X</span>
  </div>

</div>