
<div class="swarm-node-details">
  <div class="node-id">
    <label>Id:</label>
    {{ vm.node.ID }}
  </div>
  <div class="node-type">
    <label>Type: </label>
    {{ vm.node.Spec.Role }}
  </div>
  <div class="node-state">
    <label>State:</label>
    {{ vm.node.Status.State }}
  </div>
  <div class="node-hostname">
    <label>Host:</label>
    {{ vm.node.Description.Hostname }}</div>
  <div class="node-address">
    <label>IP:</label>
    {{ vm.node.Status.Addr }}
  </div>
  <div><label>Roles:</label></div>
<div class="node-role-selector">
    <select
      class="form-control"
      ng-show="vm.roleOptions.length"
      ng-model="vm.selectedRole"
      ng-change="vm.roleSelected()"
      >
      <option value="">Add role...</option>
      <option ng-repeat="option in vm.roleOptions" ng-value="option.name">{{option.name}}</option>
    </select>
  </div>
  <div class="node-role" ng-repeat="(key, value) in vm.node.Spec.Labels">
    <span
      class="configured glyphicon glyphicon-ok"
      ng-if="value === 'true'" /
      />

    <span
      class="configuring glyphicon glyphicon-asterisk"
      ng-if="value === 'configuring'"
      />

    <span>{{key}}</span>

    <span
      class="glyphicon glyphicon-trash"
      ng-if="value === 'true'"
      ng-click="vm.removeRole(key)"
      />
  </div>

</div>