
<div class="swarm-service service-{{vm.getStatus()}}">
  <div class="pull-right">
    <i class="{{ 'glyphicon glyphicon-repeat' + (vm.redeploying ? ' spinner' : '') }}" ng-click="vm.redeploy()" />
  </div>
  <div class="swarm-service-name">
    <label>Name:</label>
    {{vm.service.name}}
  </div>
  <div ng-show="vm.showDetails">
    <div class="swarm-service-mode">
      <label>Mode:</label>
      {{vm.getDeploymentMode()}}
    </div>
    <div class="swarm-service-endpoint">
      <label>Net:</label>
      {{vm.getEndpointMode()}}
    </div>
    <div class="swarm-service-tasks">
      <label>Tasks:</label>
      {{vm.getRunningTasks()}} / {{vm.getDesiredTasks()}}
    </div>
  </div>

  <div class="failed-tasks" ng-show="vm.service.failedTasks.length">
    <label>Failed Tasks</label>
    <div
      class="row failed-task"
      ng-repeat="task in vm.service.failedTasks"
      ng-click="vm.viewLogs(task)">
      <div>
        <div class="col-sm-5 failed-task-date">{{ task.Status.Timestamp | date:'M/d H:mm:ss' }}</div>
        <div class="col-sm-7 failed-task-id">
          {{task.ID.substring(0,12)}}
          <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-sm-12">{{task.Status.State}}</div>
      </div>
      <div class="col-sm-12 failed-task-err">{{task.Status.Err}}</div>
    </div>
  </div>
</div>