$danger-color = #d9534f;
$info-color = #f0ad4e;
$standard-color = #337ab7;
$good-green-color = #2ECC40;

//overwrite bootstrap and make everything square, like ringtail
* {
  border-radius: 0 !important;
}

.col-no-padding {
  padding: 0 !important;
}

.glyphicon-machine{
  font-size: 15px;
}

.environment-status {
  text-align: right;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 32px;
  min-width: 32px;
  margin: 9px 9px 0 0;
  background-color:transparent;

  &.sm {
    background-size:16px 16px;
    min-width:16px;
    min-height: 16px;
  }

  &.inline {
    display: inline-block;
  }

  &.bar {
    background-image: url('../img/bar-loader.gif');
  }
}

.form-group {
  .required {
    color: red;
  }

  .error {
    color: red;
  }
}

.color-warning {
  color: $info-color;
}

.color-danger {
  color: $danger-color;

  &:hover {
    color: #c9302c;
  }
}

.color-safe {
  color: rgba(92,184,92,1);

  &:hover {
    color: rgba(92,184,92,1);
  }
}

.col-centered {
  text-align: center;
}

.text-muted {
  color: #777;
}

//elements
button {
  border-width: 1px !important;
}

region-details{
  .configure{
    font-size: 22px;
    cursor: pointer;
    color: $info-color;

    &:hover {
      color: #ec971f;
    }
  }

  .no-decoration {
    text-decoration: none;
  }

  .trash {
    font-size: 22px;
    cursor: pointer;
    color: $danger-color;

    &:hover {
      color: darken($danger-color, 10);
    }
  }
}

env-redeploy {
  .environment-loading {
    display: inline-block;
    color: $good-green-color;
  }
}


.animate-show {
  opacity: 1;

  &.ng-hide{
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: opacity linear 0.25s;
    transition: opacity linear 0.25s;
  }
}


.deployinfo-timepicker {
  margin-top: -34px;
  margin-bottom: -18px;
}

.row .top-buffer {
  padding-top: 20px;
}


.btn-add {
  cursor: pointer;
  color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    color: #449d44 !important;
    border-color: #398439 !important;
  }
}

.btn-remove {
  color: #d9534f;
  border-color: #d43f3a;

  &:hove{
    color: #c9302c;
    border-color: #ac2925;
  }
}


.model-body {
  min-height: 50px;

  &.pad-all {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.pad-left {
    padding-left: 15px;
  }

  &.pad-right {
    padding-right: 15px;
  }

  &.pad-top {
    padding-top: 15px;
  }

  &.pad-bottom {
    padding-bottom: 15px;
  }
}

.machine-details {
  text-align: center;
  margin-bottom: 15px;

  .machine-config {
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    font-weight: bold;
  }

  .machine-name {
    margin-bottom: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .config- {
    background-color: #b0b0b0;
  }

  .config-0 {
    background-color: #ff9999;
  }

  .config-1 {
    background-color: #ffff99;
  }

  .config-2 {
    background-color: #99ccff;
  }

  .config-3 {
    background-color: #99ff99;
  }

  .config-4 {
    background-color: #ffb3ff;
  }

  .config-5 {
    background-color: #e5ccb3;
  }

  .config-6 {
    background-color: #b3e5cc;
  }

  .config-7 {
    background-color: #9999ff;
  }

  .config-8 {
    background-color: #99ffff;
  }

  .config-9 {
    background-color: #ffcc99;
  }

  &.editable {
    cursor: pointer;
  }
}

.environment-list{
  .inner .row {
    margin-left: 10px;
  }

  .environment {
    padding: 0;
    overflow: hidden;

    &.remove-item {
      margin-bottom: 5px;
    }

    .environment-info {
      margin-left: 10px;
      padding: 10px;

      .environment-controls {
        text-align: right;
      }

      .deploy-list {
        margin-top: 10px;
      }
    }

    .status {
      float: left;
      position: absolute;
      width: 20px;
      height: 10000px;

      &.run-status, &.deploy-status {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 1px;
        text-align: center;
      }
      &.status-running, &.status-deployed {
        background-color: rgba(92,184,92,.8);
      }
      &.status-warning {
        background-color: #f0ad4e;
      }
      &.status-suspended {
        background-color: #e0e0e0;
      }
      &.status-unknown {
        background-color: rgba(240,173,78,.8);
      }
      &.status-busy, &.status-deploying {
        background-color: rgba(66,139,202,.8);
      }
      &.status-failed {
        background-color: rgba(217,83,79,.8);
      }
    }


  }
}

.panel-launch-keys {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
}

.skytap-selectlist {
  min-height: 220px;

  .skytap-selectlist-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .skytap-selectlist-sm {
    min-height: 30px;
   }
}



.install-note {
  padding-left: 15px;
}

.remove-machine {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -4px;
  margin-left: -4px;
}

.cursor-pointer {
  cursor: pointer;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */

/* Top Navigation */
.navbar-inverse {
  background-color: #242424;

  .navbar-brand {
    padding: 10px 10px;

    .logo {
      height: 35px;
    }
  }

  .user {
    color: white;
    line-height: 50px;
    margin-right: 10px;
  }
}

/* Sidebar navigation */

.sidebar{
  display: none;

  .title {
    margin-top: 0;
  }

  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;

    li {
      a {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    > .active {
      > a, a:hover, a:focus  {
        color: #fff;
        background-color: #428bca;
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/*
 * Main content
 */

.main {
  margin-top: 51px;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}


.config-editor-container {
  padding-right: 10px;
}

.taskdef-editor-container {
  max-height: 500px;
  overflow-y: auto;
}

.field-editor-container {
  margin-top: 10px;
  padding-right: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.ringtail-field {
  margin-top: 25px;
}

.task-rundetails, .lastlog {
  font-family: monospace;
  p {
    margin: 0;
  }
}

.list-loading {
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  padding-top: 6px;
  height: 34px;
  text-align: center;
}

.nowrap {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  box-sizing: border-box;

  &.has-glyph {
    padding-right: 12px;
  }
}

.corner-glyph {
  position: absolute;
  right: 8px;
  top: 10px;
  opacity: .75;

  &.no-color {
    background-color: inherit !important;
    border: none;
  }
}

.active .corner-glyph {
  opacity: 1.0;
  color: inherit !important;
}

.status-glyph {
  &.Succeeded {
    color: #3c763d;
  }

  &.Failed {
    color: #a94442;
  }

  &.Pending {
    color: inherit;
  }

  &.Running {
    color: #31708f;
  }

  &.Warn {
    color: orange;
  }
}

.noborder {
  border: none;
  border-right: 0px solid;
}

div .ui-grid {
  border: 0px solid #d4d4d4;
}

body[page=login] {
  .container {
    width: 400px;
  }

  input {
    margin-bottom: 10px;
  }

  nav.navbar-fixed-top {
    position: relative;
  }

  .error {
    color: red;
  }

}

.docker-logo {
  height: 50px;
}

.swarm-node-group {
  margin-bottom: 15px;
}

.swarm-node {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  font-size: 1.1rem;

  label {
    font-style: bold;
    display: inline-block;
    min-width: 30px;
    margin-bottom: 0;
  }

  .node-role {
    margin-left: 1.5rem;

    .configured {
      color: #5cb85c;
    }

    .configuring {
      color: #5bc0de;
    }

    .trash {
      color: #505050;
    }
    .trash:hover {
      color: #000;
    }
  }

  .node-role-selector {
    margin-bottom: 1.5rem;

    select {
      font-size: 1rem;
      height: 2rem;
    }
  }

  &.node-ready {
    border-left: 5px solid rgba(92,184,92,0.8);
  }
}



.swarm-deploying {
  margin-right: 1.5rem;
  text-align: center;
}

.stack-status {
  border-radius: 50% !important;
  display: inline-block;
  width: 12px;
  height: 12px;

  &.running {
    background: rgba(92,184,92,0.8);
  }
  &.pending {
    background: rgba(66,139,202,0.8);
  }
}

.swarm-service {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: #e6e6e6;
  border: 1px solid #d6d6d6;
  font-size: 1.1rem;

  label {
    font-style: bold;
    display: inline-block;
    min-width: 30px;
    margin-bottom: 0;
  }

  &.service-running {
    border-left: 5px solid rgba(92,184,92,0.8);
  }

  &.service-pending {
    border-left: 5px solid rgba(66,139,202,0.8);
  }
}

.swarm-task {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  font-size: 1.1rem;

  label {
    font-style: bold;
    display: inline-block;
    min-width: 30px;
    margin-bottom: 0;
  }

  &.task-running {
    border-left: 5px solid rgba(92,184,92,0.8);
  }

  &.task-pending {
    border-left: 5px solid rgba(66,139,202,0.8);
  }
}

.failed-tasks {
  margin-left: 10px;
  margin-top: 10px;
}
.failed-task-err {
  overflow: hidden;
  margin-bottom: 5px;
  color: #909090;
}

.task-date {
  float: right;
  color: #909090;
}