.navbar-inverse {
  background-color: #242424;
}
.navbar-brand {
  padding: 10px 10px;
}
.navbar-brand .logo {
  height: 35px;
}

.environment-status {
  text-align: center;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 32px;
  min-width: 32px; 
  margin: 9px 9px 0 0;
}

.color-danger {
  color: #d9534f;
}
.color-danger:hover {
  color: #c9302c;
}

.configure {
  cursor: pointer;
  color: #f0ad4e;
}
.configure:hover {
  color: #ec971f;
}

button {
  border-width: 1px !important;  
}

.text-muted {
  color: #777;
}

.badge.status-glyph {  
  background-color: inherit !important;
}
.active .badge.status-glyph {
  background-color: #fff !important;
}
.badge.status-glyph.Running {
  color: #31708f !important;
}

.badge.status-glyph.Pending {
  color: inherit !important;
}

.badge.status-glyph.Failed {
  color: #a94442 !important;
}
.badge.status-glyph.Succeeded {
  color: #3c763d !important;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.deployinfo-timepicker {
  margin-top: -34px;
  margin-bottom: -18px;
}

.row .top-buffer {
  padding-top: 20px;
}

.environment-list .inner .row { 
  margin-left: 10px;
}


.btn-add {
  cursor: pointer;
  color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn-add:hover {
  color: #449d44 !important;
  border-color: #398439 !important;
}

.btn-remove {
  color: #d9534f;
  border-color: #d43f3a;
}
.btn-remove {
  color: #c9302c;
  border-color: #ac2925;
}

.col-centered {
  text-align: center;
}

.skytap-logo {
  height: 60px;
  margin-top: 10px;
}

.model-body.pad-all {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.model-body.pad-left {
  padding-left: 15px;
}
.model-body.pad-right {
  padding-right: 15px;  
}
.model-body.pad-top {
  padding-top: 15px;  
}
.model-body.pad-bottom {
  padding-bottom: 15px;
}

.model-body {
  min-height: 50px;
}

.machine-details {
  text-align: center;
}
.machine-details .machine-role {
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.machine-details .role- {
  background-color: #b0b0b0;
}
.machine-details .role-DEV-FULL {
  background-color: #66CCFF;
}
.machine-details .role-WEB {
  background-color: #99CCFF;
}
.machine-details .role-AGENT {
  background-color: #CC99FF;
}
.machine-details .role-AGENT {
  background-color: #FF99FF;
}
.machine-details .role-WEBAGENT {
  background-color: #FF99CC;
}
.machine-details .role-RPF-COORDINATOR {
  background-color: #FF9999;
}
.machine-details .role-RPF-SUPERVISOR {
  background-color: #FF6666; 
}
.machine-details .role-DATABASE {
  background-color: #FFCC99;
}
.machine-details .role-SKYTAP-ALLINONE {
  background-color: #FFFF99;
}
.machine-details .role-SKYTAP-WEB {
  background-color: #CCFF99;
}
.machine-details .role-SKYTAP-AGENT {
  background-color: #99FF99;
}
.machine-details .role-SKYTAP-DB {
  background-color: #99FFCC;
}
.machine-details .role-SKYTAP-RPF-SUPERVISOR {
  background-color: #66FFFF;
}
.machine-details .role-SKYTAP-RPF-COORDINATOR {
  background-color: #66FF66;
}

.machine-details .machine-name {
  margin-bottom: 0;
}

.machine-details.editable {
  cursor: pointer;
}

.remove-machine {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.skytap-selectlist {
  min-height: 220px;
}
.skytap-selectlist-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.install-note {
  padding-left: 15px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar .title {
  margin-top: 0;
}


/*
 * Main content
 */

.main {
  margin-top: 51px;
  padding: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}


.config-editor-container {  
  padding-right: 10px;
}
.taskdef-editor-container {
  max-height: 500px;
  overflow-y: auto;
}