.environment-status {
  text-align: center;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 32px;
  min-width: 32px;
  float: right;  
}

.configure {
  cursor: pointer;
  color: #f0ad4e;
}
.configure:hover {
  color: #ec971f;
}

button {
  border-width: 1px !important;  
}

.text-muted {
  color: #777;
}

.badge.status-glyph {  
  background-color: inherit !important;
}
.active .badge.status-glyph {
  background-color: #fff !important;
}
.badge.status-glyph.Running {
  color: #31708f !important;
}

.badge.status-glyph.Pending {
  color: inherit !important;
}

.badge.status-glyph.Failed {
  color: #a94442 !important;
}
.badge.status-glyph.Succeeded {
  color: #3c763d !important;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.deployinfo-timepicker {
  margin-top: -34px;
  margin-bottom: -18px;
}

.row .top-buffer {
  padding-top: 20px;
}

.environment-list .inner .row { 
  margin-left: 10px;
}


.btn-add {
  cursor: pointer;
  color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn-add:hover {
  color: #449d44 !important;
  border-color: #398439 !important;
}

.btn-remove {
  color: #d9534f;
  border-color: #d43f3a;
}
.btn-remove {
  color: #c9302c;
  border-color: #ac2925;
}

.col-centered {
  text-align: center;
}

.skytap-logo {
  height: 60px;
  margin-top: 10px;
}

.model-body.pad-all {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.model-body.pad-left {
  padding-left: 15px;
}
.model-body.pad-right {
  padding-right: 15px;  
}
.model-body.pad-top {
  padding-top: 15px;  
}
.model-body.pad-bottom {
  padding-bottom: 15px;
}

.model-body {
  min-height: 50px;
}

.machine-details {
  text-align: center;
}
.machine-details .machine-role {
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.machine-details .role- {
  background-color: #b0b0b0;
}
.machine-details .role-DEV-FULL {
  background-color: #66CCFF;
}
.machine-details .role-WEBSERVER {
  background-color: #99CCFF;
}
.machine-details .role-AGENT {
  background-color: #CC99FF;
}
.machine-details .role-AGENT {
  background-color: #FF99FF;
}
.machine-details .role-WEBAGENT {
  background-color: #FF99CC;
}
.machine-details .role-RPF {
  background-color: #FF9999;
}
.machine-details .role-DATABASE {
  background-color: #FFCC99;
}
.machine-details .role-SKYTAP-ALLINONE {
  background-color: #FFFF99;
}
.machine-details .role-SKYTAP-WEB {
  background-color: #CCFF99;
}
.machine-details .role-SKYTAP-WEBAGENT {
  background-color: #99FF99;
}
.machine-details .role-SKYTAP-DB {
  background-color: #99FFCC;
}
.machine-details .role-SKYTAP-RPF {
  background-color: #66FFFF;
}

.machine-details .machine-name {
  margin-bottom: 0;
}

.machine-details.editable {
  cursor: pointer;
}

.remove-machine {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.skytap-selectlist {
  min-height: 220px;
}
.skytap-selectlist-item {
  overflow: hidden;
  text-overflow: ellipsis;
}
