.environment-status {
  text-align: right;
}
.loading {
  background-image: url("../img/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 32px;
  min-width: 32px;
  margin: 9px 9px 0 0;
}
.col-centered {
  text-align: center;
}
.text-muted {
  color: #777;
}
.configure {
  cursor: pointer;
  color: #f0ad4e;
}
.configure:hover {
  color: #ec971f;
}
button {
  border-width: 1px !important;
}
region-details .configure {
  font-size: 22px;
}
.animate-show {
  opacity: 1;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
}
.deployinfo-timepicker {
  margin-top: -34px;
  margin-bottom: -18px;
}
.row .top-buffer {
  padding-top: 20px;
}
.btn-add {
  cursor: pointer;
  color: #5cb85c;
  border-color: #4cae4c;
}
.btn-add:hover {
  color: #449d44 !important;
  border-color: #398439 !important;
}
.btn-remove {
  color: #d9534f;
  border-color: #d43f3a;
}
.btn-remove:hove {
  color: #c9302c;
  border-color: #ac2925;
}
.model-body {
  min-height: 50px;
}
.model-body.pad-all {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.model-body.pad-left {
  padding-left: 15px;
}
.model-body.pad-right {
  padding-right: 15px;
}
.model-body.pad-top {
  padding-top: 15px;
}
.model-body.pad-bottom {
  padding-bottom: 15px;
}
.machine-details {
  text-align: center;
  margin-bottom: 15px;
}
.machine-details .machine-config {
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  font-weight: bold;
}
.machine-details .machine-name {
  margin-bottom: 0;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.machine-details .config- {
  background-color: #b0b0b0;
}
.machine-details .config-0 {
  background-color: #f99;
}
.machine-details .config-1 {
  background-color: #ff9;
}
.machine-details .config-2 {
  background-color: #9cf;
}
.machine-details .config-3 {
  background-color: #9f9;
}
.machine-details .config-4 {
  background-color: #ffb3ff;
}
.machine-details .config-5 {
  background-color: #e5ccb3;
}
.machine-details .config-6 {
  background-color: #b3e5cc;
}
.machine-details .config-7 {
  background-color: #99f;
}
.machine-details .config-8 {
  background-color: #9ff;
}
.machine-details .config-9 {
  background-color: #fc9;
}
.machine-details.editable {
  cursor: pointer;
}
.environment-list .inner .row {
  margin-left: 10px;
}
.environment-list .environment {
  padding: 0;
  overflow: hidden;
}
.environment-list .environment .environment-info {
  margin-left: 10px;
  padding: 10px;
}
.environment-list .environment .environment-info .environment-controls {
  text-align: right;
}
.environment-list .environment .environment-info .deploy-list {
  margin-top: 10px;
}
.environment-list .environment .environment-info .color-warning {
  color: #f0ad4e;
}
.environment-list .environment .environment-info .color-danger {
  color: #d9534f;
}
.environment-list .environment .environment-info .color-danger:hover {
  color: #c9302c;
}
.environment-list .environment .status {
  float: left;
  position: absolute;
  width: 20px;
  height: 10000px;
}
.environment-list .environment .status.run-status,
.environment-list .environment .status.deploy-status {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1px;
  text-align: center;
}
.environment-list .environment .status.status-running,
.environment-list .environment .status.status-deployed {
  background-color: rgba(92,184,92,0.8);
}
.environment-list .environment .status.status-suspended {
  background-color: #e0e0e0;
}
.environment-list .environment .status.status-unknown {
  background-color: rgba(240,173,78,0.8);
}
.environment-list .environment .status.status-busy,
.environment-list .environment .status.status-deploying {
  background-color: rgba(66,139,202,0.8);
}
.environment-list .environment .status.status-failed {
  background-color: rgba(217,83,79,0.8);
}
.skytap-selectlist {
  min-height: 220px;
}
.skytap-selectlist .skytap-selectlist-item {
  overflow: hidden;
  text-overflow: ellipsis;
}
.install-note {
  padding-left: 15px;
}
.remove-machine {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.cursor-pointer {
  cursor: pointer;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
/* Top Navigation */
.navbar-inverse {
  background-color: #242424;
}
.navbar-inverse .navbar-brand {
  padding: 10px 10px;
}
.navbar-inverse .navbar-brand .logo {
  height: 35px;
}
/* Sidebar navigation */
.sidebar {
  display: none;
}
.sidebar .title {
  margin-top: 0;
}
.sidebar .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.sidebar .nav-sidebar li a {
  padding-right: 20px;
  padding-left: 20px;
}
.sidebar .nav-sidebar > .active > a,
.sidebar .nav-sidebar > .active a:hover,
.sidebar .nav-sidebar > .active a:focus {
  color: #fff;
  background-color: #428bca;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/*
 * Main content
 */
.main {
  margin-top: 51px;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.config-editor-container {
  padding-right: 10px;
}
.taskdef-editor-container {
  max-height: 500px;
  overflow-y: auto;
}
.field-editor-container {
  margin-top: 10px;
  padding-right: 10px;
  max-height: 500px;
  overflow-y: auto;
}
.ringtail-field {
  margin-top: 25px;
}
.task-rundetails {
  font-family: monospace;
}
.task-rundetails p {
  margin: 0;
}
.list-loading {
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  padding-top: 6px;
  height: 34px;
  text-align: center;
}
.nowrap {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  box-sizing: border-box;
}
.nowrap.has-glyph {
  padding-right: 12px;
}
.corner-glyph {
  position: absolute;
  right: 8px;
  top: 10px;
  opacity: 0.75;
}
.corner-glyph.no-color {
  background-color: inherit !important;
  border: none;
}
.active .corner-glyph {
  opacity: 1;
  color: inherit !important;
}
.status-glyph.Succeeded {
  color: #3c763d;
}
.status-glyph.Failed {
  color: #a94442;
}
.status-glyph.Pending {
  color: inherit;
}
.status-glyph.Running {
  color: #31708f;
}
