<tabset>
  <tab ng-repeat="tab in vm.tabs" active="tab.active" disabled="tab.disabled" select="vm.selectTab($index)">
    <tab-heading>      
      <span class="status-glyph {{tab.task.status}}">
        <span class="glyphicon" ng-class="{ 'glyphicon-time': tab.task.status === 'Pending', 'glyphicon-ok': tab.task.status === 'Succeeded', 'glyphicon-exclamation-sign': tab.task.status === 'Warn', 'glyphicon-fire': tab.task.status === 'Failed', 'glyphicon-road': tab.task.status === 'Running' }"></span>
      </span>
      {{tab.title}}
    </tab-heading>
    <p></p>     

    <div class="panel panel-default" ng-show="tab.task.runlogArray && tab.task.status === 'Running'">
      <div class="panel-heading">Most Recent Run Detail</div>
      <div class="panel-body task-rundetails" ng-repeat="entry in tab.task.runlogArray" ng-if="$last" ng-bind-html="entry | nbsp | trust"></div>
    </div>  

    <div class="panel panel-default">
      <div class="panel-heading">Run Log</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="entry in tab.task.runlog">
          <strong>{{entry.date | date:'mediumTime' }}:</strong> <span ng-class="{'color-danger': entry.status === 'Warn' }" ng-bind-html="entry.data | trust"></span>
        </li>
      </ul>    
    </div>

    <div class="panel panel-default" ng-show="tab.task.rundetails">
      <div class="panel-heading">Run Details</div>      
      <div class="panel-body task-rundetails" ng-bind-html="tab.task.rundetails | nbsp | trust">
      </div>
    </div>

    <div class="panel panel-default" ng-show="vm.showLaunchKeys">
      <div class="panel-heading">New Launch Keys</div>
      <div class="panel-launch-keys" ng-show="!tab.newLaunchKeys.length">This environment already has all the keys it needs.</div>
      <div ng-repeat="key in tab.newLaunchKeys | orderBy:'FeatureKey'" class="panel-launch-keys">
          <strong>{{key.FeatureKey}}:</strong> {{key.Description}}
      </div>
    </div>
  </tab>      
</tabset>