<tabset>
  <tab ng-repeat="tab in vm.tabs" active="tab.active" disabled="tab.disabled" select="vm.selectTab($index)">
    <tab-heading>
      {{tab.title}}
      <span class="badge status-glyph {{tab.task.status}}">
      <span 
        class="glyphicon" 
        ng-class="{ 'glyphicon-time': tab.task.status === 'Pending', 'glyphicon-ok': tab.task.status === 'Succeeded', 'glyphicon-fire': tab.task.status === 'Failed', 'glyphicon-road': tab.task.status === 'Running' }"></span>
    </span>
    </tab-heading>
    <p></p>        
    <div class="panel panel-default">
      <div class="panel-heading">Run Log</div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="entry in tab.task.runlog">
          <strong>{{entry.date | date:'mediumTime' }}:</strong> {{entry.data}}
        </li>
      </ul>    
    </div>
    <div class="panel panel-default" ng-show="tab.task.rundetails">
      <div class="panel-heading">Run Details</div>      
      <div class="panel-body" ng-bind-html="tab.task.rundetails | trust">
      </div>
    </div>
  </tab>      
</tabset>