
<div class="model-body pad-left pad-right pad-top">
  <div class="row">
    <div class="col-sm-12">
      <p>Select an environment to import...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 skytap-selectlist">      
      <div ng-repeat="environment in vm.pageData" class="text-nowrap skytap-selectlist-item">
        <input type="radio" ng-model="vm.selected" ng-value="environment" />
        <span>{{environment.id}} - {{environment.name}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-centered" ng-show="vm.pagingActive">
      <pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.prev()">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.next()">Next</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>