
<div class="model-body">
  <div class="row">
    <div class="col-sm-12">
      <div ng-repeat="environment in vm.pageData">
        {{environment.id}} - {{environment.name}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-centered" ng-show="vm.pagingActive">
      <pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.prev()">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.create()">Add</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>