
<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" ng-click="vm.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Start {{vm.environment.envName}}</h4>
</div>
<div class="modal-body">

  <form role="form">
    <div class="form-group">
      <label>Run this environment for:</label>
      <select class="form-control" ng-model="vm.duration">
        <option value="120">2 hours</option>
        <option value="240">4 hours</option>        
      </select>
    </div>
    <deployinfo environment="vm.environment"></deployinfo>    
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary " ng-click="vm.start()">Start</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>
