.environment-status {
  text-align: center;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 32px;
  min-width: 32px;
  float: right;  
}

.configure {
  cursor: pointer;
  color: #f0ad4e;
}
.configure:hover {
  color: #ec971f;
}

button {
  border-width: 1px !important;  
}


.badge.status-glyph {  
  background-color: inherit !important;
}
.active .badge.status-glyph {
  background-color: #fff !important;
}
.badge.status-glyph.Running {
  color: #31708f !important;
}

.badge.status-glyph.Pending {
  color: inherit !important;
}

.badge.status-glyph.Failed {
  color: #a94442 !important;
}
.badge.status-glyph.Succeeded {
  color: #3c763d !important;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.deployinfo-timepicker {
  margin-top: -34px;
  margin-bottom: -18px;
}

.row .top-buffer {
  padding-top: 20px;
}