
<div class="model-body pad-all">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="envName">Name<span class='require'>*</span></label>
          <input type="text" class="form-control" id="envName" placeholder="Name" ng-model="vm.environment.envName" required/>
          <div class='error name'>{{vm.environment.errorName}}</div>
        </div>
        <div class="form-group">
          <label for="envDesc">Description</label>
          <textarea type="text" class="form-control" rows="5" id="envDesc" placeholder="Description" ng-model="vm.environment.envDesc" />
        </div>
        <div class="form-group">
          <label for="host">Ringtail Host Name (eg: demo.ftitools.com)<span class='require'>*</span></label>
          <input type="text" class="form-control" placeholder="Host" ng-model="vm.environment.host" required/>
          <div class='error host'>{{vm.environment.errorHost}}</div>
        </div>
        <div class="form-group">
          <label for="swarmhost">Docker Swarm Host (eg: swarm)</label>
          <input type="text" class="form-control" placeholder="Docker Swarm Host" ng-model="vm.environment.swarmhost" required/>
        </div>
        <div class="form-group">
          <label for="host">Deployment Ring</label>
          <select ng-model="vm.environment.updatePath" class="form-control" id="updatePath">
            <option value="4">4. SaaS</option>
            <option value="3">3. OnDemand</option>
            <option value="2">2. Demo</option>
            <option value="1">1. Portal 01</option>
            <option value="0">0. Development</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.prev()" ng-show="vm.wizard.mode === 'new'">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.next()" ng-show="vm.wizard.mode === 'new'">Next</button>
  <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-show="vm.wizard.mode === 'edit'">Update</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
