
<div class="model-body pad-all">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="envName">Name</label>
          <input type="text" class="form-control" id="envName" placeholder="Name" ng-model="vm.environment.envName" />
        </div>
        <div class="form-group">
          <label for="envDesc">Description</label>
          <textarea type="text" class="form-control" rows="5" id="envDesc" placeholder="Description" ng-model="vm.environment.envDesc" />
        </div>
        <div class="form-group">
          <label for="host">Ringtail Host Name (eg: demo.ftitools.com)</label>
          <input type="text" class="form-control" placeholder="Host" ng-model="vm.environment.host" />
        </div>
      </form>      
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.prev()" ng-show="vm.wizard.mode === 'new'">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.next()" ng-show="vm.wizard.mode === 'new'">Next</button>
  <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-show="vm.wizard.mode === 'edit'">Update</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>