<div class="modal-body">
  <h4>Deployment Configuration</h4>
  <div class="config-editor-container">
    <div ng-show="vm.simple">
      <taskdefs-list taskdefs="vm.environment.config.taskdefs" environment="vm.environment"></taskdefs-list>
    </div>
    <div ng-show="!vm.simple">
      <textarea class="form-control" rows="20" ng-model="vm.config" ng-change="vm.configChanged()"></textarea>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" ng-show="vm.simple" ng-click="vm.simple = !vm.simple">Advanced Editor</button>
  <button type="button" class="btn btn-default pull-left" ng-show="!vm.simple" ng-click="vm.simple = !vm.simple">Guided Editor</button>
  <button type="button" class="btn btn-default pull-left" ng-click="vm.addTask()">Add Task</button>

  <button type="button" class="btn btn-default" ng-click="vm.prev()" ng-show="vm.wizard.mode === 'new'">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-show="vm.wizard.mode === 'new'" ng-disabled="vm.invalid">Create</button>
  <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-show="vm.wizard.mode === 'edit'" ng-disabled="vm.invalid">Update</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
