
<div class="model-body pad-all">
  <div class="row">
    <div class="col-sm-3" ng-repeat="node in vm.nodes">
      <swarm-node-details node="node" environment="vm.environment"></swarm-node-details>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.prev()" ng-show="vm.wizard.mode === 'new'">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.next()" ng-show="vm.wizard.mode === 'new'">Next</button>
  <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-show="vm.wizard.mode === 'edit'">Update</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>