<div class="modal-header bg-primary">
  <button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Redeploy '{{vm.tempEnv.envName}}'</h4>
</div>
<div class="modal-body">
  
  <form role="form">
    <div class="form-group">
      <label>Install from Branch:</label>
      <div class="list-loading" ng-show="vm.loadingBranches">
        <img src="/assets/img/bar-loader.gif">
      </div>
      <select 
        class="form-control" 
        ng-disabled="vm.loadingBranches"
        ng-model="vm.selectedBranch.branch"         
        ng-change="vm.branchChanged()">
        <option ng-repeat="branch in vm.branches" value="{{branch}}" ng-selected="branch === vm.selectedBranch.branch">{{branch}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Install Build:</label>
      <div class="list-loading" ng-show="vm.loadingBuilds">
        <img src="/assets/img/bar-loader.gif">
      </div>
      <select 
        class="form-control"         
        ng-disabled="vm.loadingBuilds || vm.loadingBranches || !vm.selectedBranch.branch"
        ng-model="vm.selectedBranch.build"
        ng-change="vm.buildChanged()">
        <option ng-repeat="build in vm.builds" value="{{build}}">{{build}}</option>
      </select>
    </div>
    <div class="form-group skytap-selectlist-sm" ng-hide="vm.hideFiles">
      <label>Installers found in selected location:</label>
      <div class="list-loading" ng-show="vm.loadingFiles">
        <img src="/assets/img/bar-loader.gif">
      </div>
      <span class="glyphicon" ng-class="{ 'glyphicon-fire color-danger': vm.fileCount === 0}"></span>      
      
      <div class="list-group">      
        <list
          ng-readonly="true"      
          ng-model="vm.selectedBranch.file">
          <option ng-repeat="file in vm.files" disabled="disabled" value="{{file}}">{{file}}</option>
        </list>
      </div>
    </div>    
    <div ng-show="vm.hasRpf || vm.hasSql">      
      <p> 
        <input type="checkbox" id="keepRpfwInstalls" ng-model="vm.keepRpfwInstalls" />
        <label for="keepRpfwInstalls">Keep other RPF Worker Installations on Coordinator</label>      
      </p>
      <p> 
        <input type="checkbox" id="wipeRpfWorkers" ng-model="vm.wipeRpfWorkers" />
        <label for="wipeRpfWorkers">Wipe RPF Workers from Supervisors</label>      
      </p>
    </div>

    <deployinfo environment="vm.tempEnv"></deployinfo>    
  </form>

  <div class="advanced" ng-show="vm.showAdvanced">    
    <div ng-repeat="taskdef in vm.tempEnv.config.taskdefs">
      <input 
        type="checkbox"
        name="selectedTaskDefs[]"
        value="{{taskdef}}"
        ng-checked="vm.selectedTasks.indexOf(taskdef) > -1"
        ng-click="vm.toggleSelectedTask(taskdef)"
      >
      {{taskdef}}
    </div>
  </div>

</div>
<div class="modal-footer">  
  <a style="float: left" ng-click="vm.toggleAdvanced()">Advanced</a> 
  <button type="button" class="btn btn-primary" ng-disabled="vm.filesInvalid" ng-click="vm.rebuild()">Start</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>
