<div class="form-group">
  <label>Name</label>
  <input type="text" class="form-control" ng-model="vm.config.configName" />
</div>
<div class="form-group">
  <label>Role</label>
  <select
    class="form-control"
    ng-model="vm.selectedRole"
    ng-change="vm.roleChanged()">
    <option value=""></option>
    <option
      ng-repeat="role in vm.roles"
      ng-selected="{{role === vm.selectedRole}}"
      value="{{role}}"
    >{{role}}</option>
  </select>
</div>
<h4>Installation Configuration</h4>
<div class="field-editor-container" ng-show="vm.simple">
  <form>
    <div
      class="form-group ringtail-field"
      ng-repeat="field in vm.fields"
      ng-class="{ 'has-success': field.valid, 'has-error': !field.valid }"
      >
        <label>{{field.title}}</label>
        <p class="help-block">{{field.description}}</p>
        <input
          type="{{ field.password ? 'password' : 'text'}}" 
          class="form-control"
          ng-model="field.value"
          ng-change="vm.updateField(field)"
          ng-if="!field.options && !field.multioptions"
        ></input>
        <select
          class="form-control"
          ng-model="field.value"
          ng-options="option as option for option in field.options"
          ng-change="vm.updateField(field)"
          ng-if="field.options"
        ></select>
        <select
          class="form-control"
          ng-model="field.value"
          ng-options="option as option for option in field.multioptions"
          ng-if="field.multioptions"
          ng-change="vm.updateField(field)"
          multiple
        ></select>
      </p>
    </div>
  </form>
</div>
<div ng-show="!vm.simple">
  <textarea class="form-control" rows="20" ng-model="vm.dataJson" ng-change="vm.rawDataChanged()"></textarea>
</div>