<form>  
  <div 
    class="form-group ringtail-field"
    ng-repeat="field in vm.fields" 
    ng-class="{ 'has-success': field.valid, 'has-error': !field.valid }"
    >    
      <label>{{field.title}}</label>       
      <p class="help-block">{{field.description}}</p>
      <input 
        type="text" 
        class="form-control"
        ng-model="field.value"
        ng-change="vm.updateField(field)"
        ng-if="!field.options && !field.multioptions"
      ></input>      
      <select
        class="form-control"
        ng-model="field.value"
        ng-options="option as option for option in field.options"
        ng-change="vm.updateField(field)"
        ng-if="field.options"
      ></select>

      <select
        class="form-control"
        ng-model="field.value"
        ng-options="option as option for option in field.multioptions"
        ng-if="field.multioptions"
        multiple
      ></select>
    </p>
  </div>
</form>