<h2>{{vm.region.regionName}}
  <span class="small btn-add glyphicon glyphicon-plus-sign" ng-click="vm.newEnvironment()"></span>
	<a href="/app/regions/{{vm.regionId}}/edit" class='no-decoration'>
		<span class="configure glyphicon glyphicon-cog" />
	</a>
	<a href="/app/regions/{{vm.regionId}}/environment-edit" class='no-decoration'>
		<span class="trash glyphicon glyphicon-tasks" />
	</a>
</h2>

<environments-list environments="vm.environments"></environments-list>

<div ng-show="vm.pagingActive">
  <pagination ng-model="vm.page" items-per-page="vm.pagesize" total-items="vm.total" ng-change="vm.loadPage()"></pagination>
</div>