
<div class="model-body pad-all">
  <div class="row"  ng-hide="vm.environment.machines.length > 0">
    <div class="col-sm-12">
      Add machines to this environment.
    </div>
  </div>
  <div class="row">         
    <div class="col-sm-3" ng-repeat="machine in vm.environment.machines">
      <span class="pull-left btn-remove glyphicon glyphicon-remove-sign remove-machine" ng-click="vm.removeMachine(machine)"></span>
      <machine-details machine="machine" editable="true" ng-click="vm.editMachine(machine)"></machine-details>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="pull-left btn btn-primary" ng-click="vm.addMachine()">
    <span>Add Machine</span>
    <span class="glyphicon glyphicon-plus-sign"></span>
  </button>

  <button type="button" class="btn btn-default" ng-click="vm.prev()" ng-show="vm.wizard.mode === 'new'">Previous</button>
  <button type="button" class="btn btn-primary" ng-click="vm.next()" ng-show="vm.wizard.mode === 'new'">Next</button>
  <button type="button" class="btn btn-primary" ng-click="vm.update()" ng-show="vm.wizard.mode === 'edit'">Update</button>
  <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>