<div class="row">
  <div class="col-md-10 inner">
    <h4>          
      <span ng-click="vm.configure(environment)" class="configure glyphicon glyphicon-cog" />
      {{vm.environment.envName}}
    </h4>

    <div class="row" ng-show="vm.environment.envDesc">
      <div class="col-md-2"><strong>Info:</strong></div>
      <div class="col-md-10" ng-bind-html="vm.environment.envDesc | newlines | anchors | trust"></div>
    </div>


    <div class="row top-buffer" ng-show="vm.environment.deployedBy">
      <div class="col-md-2"><strong>Requested by:</strong></div>
      <div class="col-md-10">{{vm.environment.deployedBy}}</div>
    </div>

    <div class="row" ng-show="vm.environment.deployedUntil">
      <div class="col-md-2"><strong>Requested until:</strong></div>
      <div class="col-md-10">{{vm.environment.deployedUntil | fromDateString | date: 'EEE, MMM dd, hh:mma (LOCAL)' }}</div>
    </div>

    <div class="row" ng-show="vm.environment.deployedNotes">
      <div class="col-md-2"><strong>Request notes:</strong></div>
      <div class="col-md-10" ng-bind-html="vm.environment.deployedNotes | newlines | anchors | trust"></div>
    </div>

    <div class="row top-buffer" ng-show="vm.environment.deployedBranch">
      <div class="col-md-2"><strong>Branch:</strong></div>
      <div class="col-md-10">{{vm.environment.deployedBranch}}</div>        
    </div>

    <div class="row" ng-show="vm.environment.deployedOn">
      <div class="col-md-2"><strong>Build installed:</strong></div>
      <div class="col-md-10">{{vm.environment.deployedOn | fromDateString | date: 'EEE, MMM dd, hh:mma (LOCAL)'}}</div>        
    </div>

    <div class="row" ng-show="vm.showBuildNotes">
      <div class="col-md-2"><strong>Builds:</strong></div>
      <div class="col-md-10">
        <div ng-repeat="machine in vm.environment.machines">
          <div ng-show="machine.installNotes">
            {{machine.machineName}}
            <div class="install-note" ng-repeat="note in machine.installNotes">{{note}}</div>
          </div>
        </div>
      </div>
    </div>  

  </div>
  <div class="col-md-2 environment-status">
    
    <h4 ng-show="vm.showButtons"><span>{{ vm.environment.runstate | uppercase}}</span></h4>
    <div ng-show="vm.showButtons">
      <button 
        type="button" 
        class="btn glyphicon glyphicon-play" 
        ng-click="vm.start()" 
        ng-disabled="!vm.showStart" 
        ng-class="{'btn-primary': vm.showStart}"          
        title="Start the environment"></button>
      <button 
        type="button" 
        class="btn glyphicon glyphicon-pause" 
        ng-click="vm.pause()" 
        ng-disabled="!vm.showPause" 
        ng-class="{'btn-primary': vm.showPause}"          
        title="Stop the environment"></button>
      <button 
        type="button" 
        class="btn btn-warning glyphicon glyphicon-refresh" 
        ng-click="vm.redeploy()"          
        title="Refresh the environment"
        ng-show="vm.enableDeploy"></button>
    </div>
    
    <h4 ng-show="vm.showInitialize || vm.showDeployLink">
      <span>{{ vm.environment.status | uppercase }}</span>
      <span ng-show="vm.showDeployLink" title="Reset Environment" class="small glyphicon glyphicon-exclamation-sign color-danger" ng-click="vm.reset()"></span>
    </h4>
    
    <div ng-show="vm.showInitialize">
      <button
        type="button"
        class="btn btn-success glyphicon glyphicon-off"
        ng-click="vm.initialize()"
        ng-show="vm.showInitialize"></button>
    </div>
    
    <div ng-show="vm.showDeployLink">    
        <!-- Show deployment job details when deploying -->
        <a href="#/jobs/{{vm.environment.deployedJobId}}">More Info</a>
    </div>
    
    
  </div>          

</div>