  <div class="form-group">
    <label>Your name:</label>    
    <input type="text" class="form-control" ng-model="vm.environment.deployedBy" ng-disabled="vm.lockUser"/>    
  </div>

  <div class="form-group">        
    <label>Reserve Until:</label>
    
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input 
            type="text" 
            class="form-control" 
            ng-model="vm.date" 
            datepicker-popup="{{vm.format}}"
            min-date="vm.mindate" 
            show-button-bar="false" 
            is-open="vm.opened" 
            ng-required="true"
            ng-change="vm.dateTimeChanged()"
          />      
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>    
      </div>
      <div class="col-xs-6">
        <timepicker
          ng-model="vm.time"           
          hour-step="1" 
          minute-step="15" 
          show-meridian="true"
          ng-change="vm.dateTimeChanged()"
          class="deployinfo-timepicker">
        </timepicker>        
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Notes:</label>    
    <textarea class="form-control" ng-model="vm.environment.deployedNotes" rows="5" />    
  </div>